
<a href="{{ cart }}" id="wishlist-total" title="{{ text_items }}">
  <li class="menu-right">
      <img src="/catalog/view/theme/gaswodsnab/image/icons/bassket.png" alt="bassket">
      {% if text_items > 0 %}
        <div class="total">
          <span>{{ text_items }}</span>
        </div>
      {% endif %}
      Корзина
  </li>    
</a>