@import "_not_found"
@import "_search"
@import "_menu"
@import "_cart"
@import "_footer"
@import "_home"

body
    font-family: Exo2
    font-weight: 400
    line-height: 130%
    letter-spacing: 0.03em
    .grey
        background-color: #3F4E5D
        height: 100px
    .headerCont
        display: flex
        align-items: center
        justify-content: space-between
        .menu
            padding-top: 31px
            display: flex
            ul li
                display: inline
                padding-left: 20px
                &:nth-child(1)
                    padding: 0
                a
                    color: #FFFFFF
                    font-size: 18px
            .timeJob
                padding-left: 80px
                color: #FFFFFF
                font-size: 18px
        .telephone
            padding-top: 26px
            display: flex
            align-items: center
            a
                color: #FFFFFF
                font-size: 24px
                font-weight: 700
            div
                padding-left: 43px
                a button
                    font-size: 18px
                    height: 48px
                    width: 205px
                    border-radius: 8px
                    transition-duration: 0.4s
                    background-color: #3F4E5D
                    border: 1px solid #FFFFFF
                    color: #FFFFFF
                    &:hover
                        background-color: #FFFFFF
                        color: #3F4E5D

header
    height: 77.78px
    background-color: #FFFFFF
    .row
        display: flex
        justify-content: space-between
        align-items: center
        #logo
            width: 300px
            .logo
                display: flex
                flex-direction: column
                justify-content: center
                padding-top: 12px
                p
                    color: #3B6D9A
                    font-size: 16px
        .logged
            display: flex
            width: 324px
            a
                display: flex
                font-weight: 700
                font-size: 18px
                color: #3F4E5D
                padding-right: 28.66px
                img
                    width: 14.34px
                    height: 18.41px
                    padding-right: 13.5px
