body
    font-family: Exo2
    font-weight: 400
    .grey
        background-color: #3F4E5D
        height: 100px
    .headerCont
        display: flex
        align-items: center
        .menu
            padding-top: 31px
            display: flex
            align-items: flex-end
            ul li
                display: inline
                padding-left: 20px
                &:nth-child(1)
                    padding: 0
                a
                    color: #FFFFFF
                    font-size: 18px
            .timeJob
                padding-left: 80px
                color: #FFFFFF
                font-size: 18px
        .telephone
            padding-top: 26px
            display: flex
            align-items: center
            padding-left: 23px
            a
                color: #FFFFFF
                font-size: 24px
                font-weight: 700
            div
                padding-left: 43px
                a button
                    font-size: 18px
                    height: 48px
                    width: 205px
                    border-radius: 8px
                    transition-duration: 0.7s
                    background-color: #3F4E5D
                    border: 2px solid #FFFFFF
                    color: #FFFFFF
                    &:hover
                        background-color: #FFFFFF
                        color: #3F4E5D

header
    height: 77.78px
    background-color: #FFFFFF
    .row
        display: flex
        flex-direction: row
        #logo
            width: 300px
            .logo
                display: flex
                flex-direction: column
                justify-content: center
                padding-top: 12px
        .search
            width: 450px
            padding-top: 18.89px
            justify-content: center
            padding-left: 13.22px
            #search
                display: flex
                .form-control
                    width: 404px
                    height: 40px
                    border: 1px solid #3F4E5D
                    box-sizing: border-box
                    border-radius: 10px
